
.card {
    background-color: #ffffff; /* Card background color */
    border-radius: 8px; /* Rounded corners for the card */
	box-shadow: 9px 8px 10px 0px #1a202c;  /* Elevation effect */
    padding: 20px; /* Padding inside the card */
}
.placeholder {
	background-color: #f3f4f6; /* Set background color to a light gray */
	border: none; /* Remove default border */
	padding: 8px 12px; /* Adjust padding according to your design */
	border-radius: 4px; /* Optionally, add border radius for rounded corners */
	box-shadow: inset 5px 2px 5px 5px rgba(0, 0, 0, 0.15); /* Add inner shadow effect in gray color */
  }